<apex:component >
	<div class="panel-group">
		<!-- Secction 1 -->
		<c:GNF_WIZCondicionesCoberturaSeleccionada />
		<br/>
		<!-- Secction 2 -->
		<div class="panel panel-default panel-wz" >
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#PuntosSuministroSeleccionados" >
					<h5>{!$Label.GNF_WizardPaso4Secction2}</h5>
					<span ng-bind="wrapperPS.PSPosition"></span>
				</a>
		    </div>
		    <div id="PuntosSuministroSeleccionados" class="panel-collapse collapse in">
			    <div class="panel-body">
			      	<table class="table boder-wz table-responsive">
			        	<thead class="background-headaer">
				        	<tr>
						        <td class="headerWS boder-wz">{!$ObjectType.Suministros__c.fields.Denominacion__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.SSs__c.fields.CUPS__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.SSs__c.fields.Name.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.Account.fields.Name.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.Contrato__c.fields.Codigo_Contrato__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.Contrato__c.fields.Estado_Contrato__c.Label}</td>
		                        <td class="headerWS boder-wz">Fecha de Inicio de Contrato</td>
		                        <td class="headerWS boder-wz">Fecha de Fin de Contrato</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.Contrato__c.fields.Consumo_Anual_Estimado__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.SSs__c.fields.Telemedido__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.SSs__c.fields.Tipo__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.Contrato__c.fields.Tarifa_Acceso__c.Label}</td>
		                        <td class="headerWS boder-wz">{!$ObjectType.SSS__c.fields.Direccion__c.Label}</td>
				        	</tr>
			            </thead>
			            <!-- <tbody class="bordered" ng-repeat="(CIF,Cliente) in wrapper.map_contratosxciff">
	                        <tr ng-repeat="ps in Cliente" ng-show="ps.Selected"> -->
	                    <tbody class="bordered" >
	                        <tr ng-repeat="ps in wrapperPS.listOPS" ng-show="ps.Selected">
	                            <td class="center" ng-bind="ps.NISS__r.NIS__r.Denominacion__c"></td>
	                            <td class="center" ng-bind="ps.NISS__r.CUPS__c"></td>
	                            <td class="center" ng-bind="ps.NISS__r.Name"></td>
	                            <td class="center" ng-bind="ps.Cliente__r.Name | utf8"></td>
	                            <td class="center" ng-bind="ps.Codigo_Contrato__c"></td>
	                            <td class="center" ng-bind="ps.Estado_Servicio__c"></td>
	                            <td class="center" ng-bind="ps.Fecha_de_Inicio__c | date : 'dd/MM/yyyy'"></td>
	                            <td class="center" ng-bind="ps.Fecha_de_Fin__c | date : 'dd/MM/yyyy'"></td>
	                            <td class="center"> <span ng-bind="ps.Consumo_Anual_Estimado__c | euros"></span></td>
	                            <td class="center" ng-bind="ps.NISS__r.Telemedido__c | boolean"></td>
	                            <td class="center" ng-bind="ps.Producto__c"></td>
	                            <td class="center" ng-bind="ps.Tarifa_Acceso__c"></td>
	                            <td ng-bind="ps.NISS__r.Direccion__c" class="address"></td>
	                    	</tr>
	                    </tbody>
			        </table>
			    </div>
			</div>
		</div>
		<!-- Secction 3 -->
		<div class="panel panel-default panel-wz" >
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#infoClick" >
					<h5>{!$Label.GNF_WizardPaso4Secction3}</h5>
				</a>
		    </div>
		    <div id="infoClick" class="panel-collapse collapse in">
			    <div class="panel-body">
					<!-- izquierda -->
			    	<div class="col-sm-4 col-md-4">
			    		<table class="table table-responsive table-striped ">
			            	<thead class="background-headaer"/>
			            	<tbody class="body-seccion1">
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.ID_Opportunity__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.ID_Opportunity__c"></td>
			            		</tr>
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.Name.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.Name"></td>
			            		</tr>
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.Fecha_Inicio__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.Fecha_Inicio__c | date: 'dd/MM/yyyy'"></td>
			            		</tr>
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.GNF_TipoOferta__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.GNF_TipoOferta__c"></td>
			            		</tr>
			            		<tr>
			            			<td class="label-site">Tipo de operación</td>
			            			<td class="value-site" ng-bind="wrapper.click.RecordType.Name"></td>
			            		</tr>
			            		
		            		</tbody>
		            	</table>
			    	</div>
						<!-- centro -->
			    	<div class="col-sm-4 col-md-4">
			    		<table class="table table-responsive table-striped ">
			            	<thead class="background-headaer"/>
			            	<tbody class="body-seccion1">
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.GNF_QaAgregada__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.GNF_QaAgregada__c | euros"></td>
			            		</tr>
			            		<tr>
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.Formula__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.Formula__c"></td>
			            		</tr>
			            		
		            		</tbody>
		            	</table>
			    	</div>
						<!-- derecha -->
			    	<div class="col-sm-4 col-md-4">
			    		<table class="table table-responsive table-striped ">
			            	<thead class="background-headaer"/>
			            	<tbody class="body-seccion1">
			            		<tr ng-show="false">
			            			<td class="label-site">{!$ObjectType.Opportunity.fields.N_Maximo_Operaciones__c.Label}</td>
			            			<td class="value-site" ng-bind="wrapper.click.N_Maximo_Operaciones__c"></td>
			            		</tr>
		            		</tbody>
		            	</table>
			    	</div>
			    </div>
			</div>
		</div>
		<br/>
		<!-- Secction 4 -->
		<div class="panel panel-default panel-wz" >
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#parametrozClick" >
					<h5>{!$Label.GNF_WizardPaso4Secction4}</h5>
				</a>
		    </div>
		    <div id="parametrozClick" class="panel-collapse collapse in">
			    <div class="panel-body">
			    	<div class="row">
				    	<form novalidate="true" name="wizard">
							<!-- izquierda -->
					    	<div class="col-sm-4 col-md-4">
					    		<table class="table table-responsive table-striped ">
					            	<thead class="background-headaer"/>
					            	<tbody class="body-seccion1">
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_de_servicio__c.label}</td>
											<td class="value-site">
												<select name="tipoServicio" required="true" ng-options="option.label for option in TipoServicio.aviableOptions" ng-model="TipoServicio.model" ng-change="wrapper.click.Tipo_de_servicio__c = TipoServicio.model.label; getPrimaRiesgo(); overwritePerioricidadPrecio(); setFlagUsoFormula(); resetFormulaOptions()" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()"></select>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_de_precio__c.label}</td>
											<td class="value-site">
												<select name="tipoPrecio" required="true" ng-options="option.label for option in TipoPrecio.aviableOptions" ng-model="TipoPrecio.model" ng-change="wrapper.click.Tipo_de_precio__c = TipoPrecio.model.label" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-disabled="!isValidStage() || paramFrezze()"></select>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_Producto__c.label}</td>
											<td class="value-site">
												<select name="tipoProducto" required="true" ng-options="option.label for option in TipoProducto.aviableOptions" ng-model="TipoProducto.model" ng-change="wrapper.click.Tipo_Producto__c = TipoProducto.model.id; setFeeGestion(); validTipoProducto(); resetMatrix(); setConsumosLimits()" ng-class="{invalidField:errorTipoProducto}" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze()"></select>
												<p class="alert alert-danger" ng-show="errorTipoProducto">El tipo de producto debe ser Quarter (Q)</p>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Periodicidad_del_precio__c.label}</td>
											<td class="value-site">
												<select name="periodicidadPrecio" required="true" ng-options="option.label for option in PeriodicidadPrecio.aviableOptions" ng-model="PeriodicidadPrecio.model" ng-change="wrapper.click.Periodicidad_del_precio__c = PeriodicidadPrecio.model.label" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze() || wrapper.click.Target_Price__c || isTipoServicio('SWAP Hub') || isTipoServicio('SWAP Fórmula')"></select>
											</td>
										</tr>
										<tr ng-hide="isTipoServicio('SWAP PF')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Formula_Destino__c.label}</td>
											<td class="value-site">
												<select name="formulaDestino" required="true" ng-required="!isTipoServicio('SWAP PF') && !isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-options="option.label for option in FormulaDestino.aviableOptions" ng-model="FormulaDestino.model" ng-change="wrapper.click.GNF_IdFormulaDestino__c = FormulaDestino.model.id;" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze() || usoFlagFormulaMissing()"></select>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Prima_de_gestion__c.label}</td>
											<td class="value-site"><input type="text" name="PrimaGestion" required="true" ng-required="!CBSelected.Fijar_Fee_gestion__c && !isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-model="wrapper.click.Prima_de_gestion__c"  ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" ng-disabled="CBSelected.Fijar_Fee_gestion__c || isRecordType('Unclick') || !isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Prima_comercial__c.label}</td>
											<td class="value-site"><input type="text" name="PrimaComercial" required="true" ng-model="wrapper.click.Prima_comercial__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" ng-change="validPrimaComercial()" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-disabled="!isValidStage() || paramFrezze()"/>
											<p class="alert alert-danger" ng-show="errorPrimaComercial">Prima comercial debe valer entre -1 y 1</p>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Prima_de_riesgo__c.label}</td>
											<!-- <td class="value-site"><input type="text" name="PrimaRiesgo" ng-model="wrapper.click.Prima_de_riesgo__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" disabled="true" /></td> -->
											<td class="value-site"><input type="text" name="PrimaRiesgo" ng-model="wrapper.click.Prima_de_riesgo__c" disabled="true" /></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.GNF_RevisarUO__c.label}</td>
											<td class="value-site"><input type="checkbox" name="RevisarUO" ng-model="wrapper.click.GNF_RevisarUO__c" ng-disabled="!isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Observaciones_de_ofertas__c.label}</td>
											<td class="value-site"><textarea cols="20" rows="1" name="ObservacionesOfertas" ng-model="wrapper.click.Observaciones_de_ofertas__c" required="true" ng-required="wrapper.click.GNF_RevisarUO__c && isValidStage() && !paramFrezze()" ng-disabled="!isValidStage() || paramFrezze()"></textarea></td>
										</tr>
				            		</tbody>
				            	</table>
					    	</div>
								<!-- centro -->
					    	<div class="col-sm-4 col-md-4">
					    		<table class="table table-responsive table-striped ">
					            	<thead class="background-headaer"/>
					            	<tbody class="body-seccion1">
					            		<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Fecha_Cotizacion__c.label}</td>
											<td class="value-site">
												<span class="glyphicon glyphicon-calendar"></span>
												<input type="text" name="fechaCotizacion_date" class="date" ng-model="FechaCotizacion_date" readonly="true" required="true" ng-class="{invalidField: dateErrorDate}" ng-change="isValidDate()" ng-disabled="!isValidStage() || paramFrezze()" ng-required="isValidStage() && !paramFrezze()"></input>
												<span class="glyphicon glyphicon-time"></span> 
												<input type="text" name="fechaCotizacion_time" class="time" ng-model="FechaCotizacion_time" required="true" ng-class="{invalidField: dateErrorTime}" placeholder="hh:mm" ng-disabled="!isValidStage() || paramFrezze()" ng-required="isValidStage() && !paramFrezze()"></input>
												<!-- <input type="text" class="date" required="true" ng-required="isWritable('Fecha_Cotizacion__c') && wrapper.click.GNF_RevisarUO__c" ng-disabled="!isWritable('Fecha_Cotizacion__c')" ng-model="wrapper.click.Fecha_Cotizacion__c"/> -->
												<p class="alert alert-danger" ng-bind="dateError" ng-hide="dateError == ''"></p>
												</td>
					            		</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_Fijacion__c.label}</td>
											<td class="value-site">
												<select name="tipoFijacion" required="true" ng-required="isWritable('Tipo_Fijacion__c') && isValidStage() && !paramFrezze()" ng-disabled="!isWritable('Tipo_Fijacion__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-options="option.label for option in TipoFijacion.aviableOptions" ng-model="TipoFijacion.model" ng-change="wrapper.click.Tipo_Fijacion__c = TipoFijacion.model.label; setFeeGestion(); setConsumosLimits()"></select>
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Metodo_aplicacion__c.label}</td>
											<td class="value-site">
												<select name="metodoAplicacion" required="true" ng-required="isWritable('Metodo_aplicacion__c') && isValidStage() && !paramFrezze()" ng-disabled="!isWritable('Metodo_aplicacion__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-options="option.label for option in MetodoAplicacion.aviableOptions" ng-model="MetodoAplicacion.model" ng-change="wrapper.click.Metodo_aplicacion__c = MetodoAplicacion.model.label; setFeeGestion(); setConsumosLimits()"></select>
											</td>
										</tr>
										<tr ng-show="isMetodoAplicacion('%Qreal')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Fee_flexibilidad__c.label}</td>
											<td class="value-site"><input type="text" ng-disabled="!isWritable('Fee_flexibilidad__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-model="wrapper.click.Fee_flexibilidad__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" /></td>
										</tr>
										<tr ng-show="isMetodoAplicacion('%Qreal')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Banda_inferior_de_consumo__c.label}</td>
											<td class="value-site"><input type="text" ng-disabled="!isWritable('Banda_inferior_de_consumo__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-model="wrapper.click.Banda_inferior_de_consumo__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" /></td>
										</tr>
										<tr ng-show="isMetodoAplicacion('%Qreal')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Banda_superior_de_consumo__c.label}</td>
											<td class="value-site"><input type="text" ng-disabled="!isWritable('Banda_superior_de_consumo__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-model="wrapper.click.Banda_superior_de_consumo__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$" /></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_ToP_Clicks__c.label}</td>
											<td class="value-site">
												<select name="tipoToPClicks" required="true" ng-required="isWritable('Tipo_ToP_Clicks__c') && isValidStage() && !paramFrezze()" ng-disabled="!isWritable('Tipo_ToP_Clicks__c') || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-options="option.label for option in TipoToPClicks.aviableOptions" ng-model="TipoToPClicks.model" ng-change="wrapper.click.Tipo_ToP_Clicks__c = TipoToPClicks.model.label"></select>
											</td>
										</tr>
										<tr >
											<td  class="label-site">{!$ObjectType.Opportunity.fields.Periodicidad_ToP__c.label}</td>
											<td class="value-site">
												<!-- <select name="periodicidadToP" ng-options="option.label for option in PeriodicidadToP.aviableOptions" ng-model="PeriodicidadToP.model" ng-change="wrapper.click.Periodicidad_ToP__c = PeriodicidadToP.model.label; validTipoProducto(); setPerioricidadPrecioValues()" ng-required="isMetodoAplicacion('%Qreal') && !isRecordType('Unclick') && isValidStage()" disabled="true"></select> -->
												<select name="periodicidadToP" ng-options="option.label for option in PeriodicidadToP.aviableOptions" ng-model="PeriodicidadToP.model" ng-change="wrapper.click.Periodicidad_ToP__c = PeriodicidadToP.model.label; validTipoProducto(); setPerioricidadPrecioValues()" disabled="true"></select>
											</td>
										</tr>
										<!-- <tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.ToP_agregado__c.label}</td>
											<td class="value-site"></td>
										</tr> -->
				            		</tbody>
				            	</table>
					    	</div>
								<!-- derecha -->
					    	<div class="col-sm-4 col-md-4">
					    		<table class="table table-responsive table-striped ">
					            	<thead class="background-headaer"/>
					            	<tbody class="body-seccion1">
					            		<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Tipo_de_cobertura__c.label}</td>
											<td class="value-site">
												<select name="tipoCobertura" required="true" ng-options="option.label for option in TipoCobertura.aviableOptions" ng-model="TipoCobertura.model" ng-change="wrapper.click.Tipo_de_cobertura__c = TipoCobertura.model.label" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze() && !isProfile(Ventas)" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze() || isProfile(Ventas)"></select>
											</td>
					            		</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Antelacion_de_click__c.label}</td>
											<td class="value-site"><input type="number" name="AntelacionClick" required="true" ng-model="wrapper.click.Antelacion_de_click__c" ng-currency="true" restrict-to="^[-]?[0-9]*[]?[0-9]{0}$" ng-required="!isRecordType('Unclick') && isValidStage() && !paramFrezze()" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze() || isProfile(Ventas)"/></td>
										</tr>
										<tr ng-show="isRecordType('Click') && isTipoPrecio('Firme') && isTipoServicio('SWAP PF')" >
											<td class="label-site helpTextTriggerTP" title="{!$Label.GNF_Wizard_HelpText}"  data-placement="top">{!$ObjectType.Opportunity.fields.Target_Price__c.label}</td>
											<td class="value-site"><input type="checkbox" name="TargetPrice" class="helpTextTriggerTP" ng-model="wrapper.click.Target_Price__c" title="{!$Label.GNF_Wizard_HelpText}" data-placement="top" ng-change="resetDependentFields(!wrapper.click.Target_Price__c); overwritePerioricidadPrecio()" ng-disabled="isRecordType('Unclick') || !isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr ng-show="isRecordType('Click') && isTipoPrecio('Firme') && isTipoServicio('SWAP PF')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Precio_final_objetivo__c.label}</td>
											<td class="value-site"><input type="text" required="true" name="PrecioFinalObjetivo" ng-model="wrapper.click.Precio_final_objetivo__c" ng-currency="true" restrict-to="^[-]?[0-9]*[,]?[0-9]{0,4}$"  ng-disabled="!wrapper.click.Target_Price__c || isRecordType('Unclick') || !isValidStage() || paramFrezze()" ng-required="wrapper.click.Target_Price__c && isValidStage() && !paramFrezze()"/></td>
										</tr>
										<tr ng-show="isRecordType('Click') && isTipoPrecio('Firme') && isTipoServicio('SWAP PF')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Fecha_Fin_Orden_de_Cierre__c.label}</td>
											<td class="value-site">
											<span class="glyphicon glyphicon-calendar"></span>
											<input type="text" name="fechaCierre_date" class="date" ng-model="FechaCierre.date" required="true" readonly="true" ng-class="{invalidField: FechaCierre.dateErrorDate}" ng-change="setFechaCierre(getDateTime(FechaCierre.date, 'DDMMYYYY', '/', wrapper.click.Fecha_Fin_Orden_de_Cierre__c), 'date')" ng-required="wrapper.click.Target_Price__c && isValidStage() && !paramFrezze()" ng-disabled="!wrapper.click.Target_Price__c || !isValidStage() || paramFrezze()"></input>
											<span class="glyphicon glyphicon-time"></span> 
											<input type="text" name="fechaCierre_time" class="time" ng-model="FechaCierre.time" required="true" ng-class="{invalidField: FechaCierre.dateErrorTime}" ng-blur="setFechaCierre(FechaCierre.time, 'time')" ng-required="wrapper.click.Target_Price__c && isValidStage() && !paramFrezze()" ng-disabled="!wrapper.click.Target_Price__c || !isValidStage() || paramFrezze()"></input>
											<!-- <input type="text" class="date" required="true" ng-required="isWritable('Fecha_Cotizacion__c') && wrapper.click.GNF_RevisarUO__c" ng-disabled="!isWritable('Fecha_Cotizacion__c')" ng-model="wrapper.click.Fecha_Cotizacion__c"/> -->
											<p class="alert alert-danger" ng-show="FechaCierre.hasError" ng-bind="FechaCierre.error"></p>
											<!-- <input type="text" class="date" ng-model="Fecha_Fin_Orden_de_Cierre__c" ng-disabled="!wrapper.click.Target_Price__c || isRecordType('Unclick')" ng-change="wrapper.click.Fecha_Fin_Orden_de_Cierre__c = getDateTime(Fecha_Fin_Orden_de_Cierre__c, 'DDMMYYYY', '/')"/> -->
											</td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Mostrar_prima_de_gestion__c.label}</td>
											<td class="value-site"><input type="checkbox" ng-model="wrapper.click.Mostrar_prima_de_gestion__c" ng-disabled="!isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Mostrar_Brent_y_paridad__c.label}</td>
											<td class="value-site"><input type="checkbox" ng-model="wrapper.click.Mostrar_Brent_y_paridad__c" ng-disabled="!isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr>
											<td class="label-site">{!$ObjectType.Opportunity.fields.Mostrar_descuento__c.label}</td>
											<td class="value-site"><input type="checkbox" ng-model="wrapper.click.Mostrar_descuento__c" ng-disabled="!isValidStage() || paramFrezze()"/></td>
										</tr>
										<tr ng-show="isTipoServicio('SWAP PF')">
											<td class="label-site">{!$ObjectType.Opportunity.fields.Mostrar_F__c.label}</td>
											<td class="value-site"><input type="checkbox" ng-model="wrapper.click.Mostrar_F__c" ng-disabled="!isValidStage() || paramFrezze()"/></td>
										</tr>
				            		</tbody>
				            	</table>
					    	</div>
				    	</form>
			    	</div>
			    	<br/>
			    	<div class="alert alert-danger" ng-show="formValidated && wizard.$invalid">Rellene todos los campos</div>	
			    	<div class="row center">
			    		<button class="matriz" ng-click="saveClick(wizard.$valid);" ng-show="isRecordType('Click') && isValidStage() && !paramFrezze()">Informar Consumos</button>
			    	</div>
			    </div>
			</div>
		</div>
		<!-- Secction 5 -->
		<div class="panel panel-default panel-wz" ng-show="showMatrizPeriodos">
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#pan-matrizPeriodos" >
					<h5>{!$Label.GNF_WizardPaso4Secction5} <span ng-hide="isMetodoAplicacion('%Qreal')">(kWh)</span></h5>
					<span ng-bind="wrapperPS.PSPosition"></span>
					
				</a>
		    </div>
		   <!--  <div class="quantity">
		    	<label for="selectPSperScreen">{!$Label.GNF_WizardAlert14}</label>
		    	&nbsp;
		    	<select name="selectPSperScreen" ng-options="option.label for option in PSperScreen.aviableOptions" ng-model="PSperScreen.model" ng-init="PSperScreen.model = PSperScreen.aviableOptions[0]"></select>
		    	<div class="row" ng-repeat="(key, value) in PSperScreen.aviableOptions">
		    		<span ng-bind="value"></span>
		    		<span ng-bind="key"></span>
		    	</div>		
		    </div> 
		    <br/> -->
		    <div id="pan-matrizPeriodos" class="panel-collapse collapse in">
			    <!-- <div class="" ng-show="isUserAllowed('{!$User.Alias}')">
	                <button class="btn btn-warning" ng-click="magicClone()">Replicar</button>
	            </div> -->
			    <div class="panel-body">
					<table class="table table-responsive table-striped boder-wz" id="pan-matrizPeriodos">
			    		<thead class="background-headaer">
			    			<tr ng-repeat="(i, periodos) in matrizPeriodos" ng-show="i == getFirstKey(matrizPeriodos)">
			    		 		<th></th>
				    		 	<th ng-repeat="(index, periodo) in periodos" >
				    		  		<span ng-bind="periodo.str_periodo" />
				    		 	</th>
			    			</tr>				
			    		</thead>
			    		<tbody class="body-seccion1">
			    			<tr ng-repeat="(i, periodos) in wrapperPS.listPS">
			    		 		<td ng-repeat="(index, periodo) in periodos" ng-show="index==0">
			    		  			<!-- <span ng-bind="getCUPSorCODE(periodo.str_puntoSuministro)" /> -->
			    		  			<span ng-bind="periodo.str_codigoContratoCUPS" />
			    		 		</td>
			    		 		<td ng-repeat="periodo in periodos">
			    		  			<input type="text" ng-hide="isMetodoAplicacion('Q Abs.')" class="periodos" ng-model="periodo.str_consumoQ" required="true" ng-currency="true" restrict-to="^[]?[0-9]*[,]?[0-9]{0,2}$" ng-disabled="periodo.disabled || !isValidStage() " ng-blur="resetOnBlank(periodo)"/>
			    		  			<input type="text" ng-show="isMetodoAplicacion('Q Abs.')" class="periodos" ng-model="periodo.str_consumoQ" required="true" ng-currency="true" restrict-to="^[]?[0-9]*[]?[0-9]{0,0}$" ng-disabled="periodo.disabled || !isValidStage() " ng-blur="resetOnBlank(periodo)"/>
			    		 		</td>
			    			</tr>
			    		</tbody>
			    	</table>
					<div class="center">
			    		<div class="alert alert-danger" ng-bind="errorMessage" ng-hide="errorMessage == '' || !wrapperPS.isTheEnd"></div>
			    	</div>
			    	<div class="row center">
			    		<button ng-click="sendPeriodos(wizard.$valid)" ng-show="isAllowedSavePeriodos() && isValidStage()">Guardar Consumos</button>
			    		<button ng-click="editConsumosPS()" ng-show="!isAllowedSavePeriodos() && isValidStage()">Editar </button>


			    	</div>
			    </div>
			</div>
		</div>
		<!-- Secction 6 -->
		<div class="panel panel-default panel-wz" ng-show="showMatrizConsumos">
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#matrizConsumos" >
					<h5>{!$Label.GNF_WizardPaso4Secction6}</h5>
					<span ng-bind="wrapperPS.PSPosition"></span>
				</a>
		    </div>
		    <div id="matrizConsumos" class="panel-collapse collapse in">
			    <div class="panel-body">
					<table class="table table-responsive table-striped boder-wz">
			    		<thead class="background-headaer">
			    			<tr>
			    				<th class="boder-wz ">Punto de Suministro</th>
								<th class="boder-wz ">Periodo</th>
								<th class="boder-wz ">Mes</th>
								
								<!-- Click -->
									<th class="boder-wz helpTextTrigger" ng-hide="isRecordType('Unclick')" 
										title="{!$Label.GNF_Wizard_HelpText2}" data-placement="top">
										Consumo Máximo Mensual (kWh)
									</th>
									<th class="boder-wz" ng-hide="isRecordType('Unclick')">
										Consumo cubierto anterior (kWh)
									</th>
									<th class="boder-wz" ng-hide="isRecordType('Unclick')">
										Consumo disponible (kWh)
									</th>
									<th class="boder-wz" ng-hide="isRecordType('Unclick')">
										Consumo Solicitado (kWh)
									</th>
									<th class="boder-wz" ng-hide="isRecordType('Unclick')">
										Consumo cubierto total/PS (kWh)
									</th>
								<!-- Click -->
								
								<!-- Unclick -->
									<th class="boder-wz helpTextTrigger" ng-show="isRecordType('Unclick')" title="{!$Label.GNF_Wizard_HelpText2}" data-placement="top">
										<!-- Consumo Cubierto Mes (Qc) Q comprometida -->
										Consumo Solicitado (kWh)
									</th>
									<th class="boder-wz" ng-show="isRecordType('Unclick')">
										<!-- Consumo disponible  -->
										Consumo disponible (kWh)
									</th>
								<!-- Unclick -->
			    			</tr>			
			    		</thead>
			    		<tbody class="body-seccion1" ng-repeat="consumo in wrapperPS.listComsumos" >
			    			<tr ng-class="{invalidConsumo: limitCrossed(consumo)}" >
								<td ng-bind="consumo.str_codigoContratoCUPS"></td>
								<td ng-bind="consumo.str_periodo"></td>
								<td ng-bind="consumo.str_mes"></td>
								<td ng-show="isRecordType('Unclick')"><input type="text" class="consumos helpTextTrigger" title="{!$Label.GNF_Wizard_HelpText2}" data-placement="top" ng-model="consumo.str_consumoCubiertoMes" required="true" ng-currency="true" restrict-to="^[]?[0-9]*[]?[0-9]{0,0}$" ng-disabled="consumo.disabled || !isValidStage() || consumo.bln_isDisabled"/></td>
								<td ng-hide="isRecordType('Unclick')"><input type="text" class="consumos helpTextTrigger" title="{!$Label.GNF_Wizard_HelpText2}" data-placement="top" ng-model="consumo.str_consumoEstimado" required="true" ng-blur="sendMaximo(consumo)" ng-currency="true" restrict-to="^[]?[0-9]*[]?[0-9]{0,0}$" ng-disabled="consumo.disabled || !isValidStage()"/></td>
								<td ng-hide="isRecordType('Unclick')" ng-bind="consumo.str_consumoCubiertoAnterior | euros" ></td>
								<td data-consumoId="consumo.str_cClickId" ng-bind="consumo.str_consumoDisponiblePeriodo | euros"></td>
								<td ng-hide="isRecordType('Unclick')" ng-bind="consumo.str_consumoCubiertoMes | euros" ></td>
								<td ng-hide="isRecordType('Unclick')" data-psID="consumo.str_puntoSuministroId" ng-bind="consumo.str_consumoCubiertototalPS | euros"></td>
							</tr>
							<tr data-psID="{{consumo.str_codigoContratoCUPS}}" class="psDivision" ng-show="isLastConsumo(consumo)">
								<!-- <td /> -->
								<td />
								<td />
								<td />
								<td />
								<td />
								<td />
								<td />
								<td />
							</tr>
			    		</tbody>
			    	</table>
			    	<div class="center">
			    		<div class="alert alert-danger" ng-bind="errorMessage" ng-hide="errorMessage == '' || !wrapperPS.isTheEnd"></div>
			    	</div>
			    	<div class="row center">
			    		<button ng-click="sendConsumos(wizard.$valid)" ng-show="isAllowedSaveConsumos() && isValidStage()">Guardar</button>
			    	</div>
			    </div>
			</div>
		</div>
		<!-- Secction 7 -->
		<div class="panel panel-default panel-wz" ng-show="wrapperPS.listHistoricoClicks.length > 0">
		    <div class="panel-heading">
				<a data-toggle="collapse" href="#MatrizContadorClicks" >
					<h5>{!$Label.GNF_WizardPaso4Secction7}</h5>
					<span ng-bind="wrapperPS.PSPosition"></span>
				</a>
		    </div>
		    <div id="MatrizContadorClicks" class="panel-collapse collapse in">
			    <div class="panel-body">
					<table class="table table-responsive table-striped boder-wz">
			    		<thead class="background-headaer">
			    			<tr>
			    				<th>Punto de Suministro</th>
								<th>Nº Clicks Ejecutados</th>
			    			</tr>			
			    		</thead>
			    		<tbody class="body-seccion1">
			    			<tr ng-repeat="contador in wrapperPS.listHistoricoClicks">
								<td ng-bind="contador.str_sectorSuministroDenominacion"></td>
								<td ng-bind="contador.str_noClicksEjecutados"></td>
							</tr>
			    		</tbody>
			    	</table>
			    </div>
			</div>
		</div>
	</div>	 
</apex:component>