<apex:component controller="GNF_PDFGenerator_ctr" allowDML="true" access="global">

    <apex:attribute access="global" name="templateName" type="String" description="Nombre unico de la plantilla." assignTo="{!strTemplateUniqueName}"/>
    <apex:attribute access="global" name="objId" type="String" description="Id del registro." assignTo="{!strMainRecordId}"/>
    <apex:attribute access="global" name="object" type="String" description="Nombre API del objeto principal." assignTo="{!strSObjectType}"/>

    <apex:outputText value="{!HTML}" escape="false"/>

</apex:component>