<apex:page standardController="Opportunity" extensions="SMC_ManageSMCContacts_ctr">

	<!-- estilos personalizados -->
	<apex:stylesheet value="{!URLFOR($Resource.GNF_Resources,'css/custom-styles.css')}" />
	<!-- jquery  -->
	<apex:includeScript value="{!$Resource.GNF_jQuery}"/>
	<!-- Boostrap css -->
	<apex:stylesheet value="{!URLFOR($Resource.GNF_Boostrap3, 'bootstrap-3.3.7-dist/css/bootstrap.min.css')}"/>
	<!-- Boostrap js -->
	<apex:includeScript value="{!URLFOR($Resource.GNF_Boostrap3,'bootstrap-3.3.7-dist/js/bootstrap.min.js')}"/>
	
	<style type="text/css">
		.table-hover>tbody>tr:hover {
			background-color: #e3f3ff;
		}
		.btn{
			color: rgb(51, 51, 51) !important;
			font-weight: bold !important;
			font-size: 0.8em !important;
			margin: 1px !important;
			padding: 2px 3px !important;
			border-width: 1px !important;
			border-style: solid !important;
			border-color: rgb(181, 181, 181) rgb(181, 181, 181) rgb(127, 127, 127) !important;
			border-image: initial !important;
			background: url(/img/alohaSkin/btn_sprite.png) right top repeat-x rgb(232, 232, 233) !important;
			border-radius: 3px !important;
		}
		.center{
			text-align: center;
		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			padding: 4px;
			line-height: 1.42857143;
			vertical-align: top;
			border-top: 1px solid #ddd;
		}
		.alert{
			padding: 9px;
			margin-bottom: 20px;
			border: 1px solid transparent;
			border-radius: 4px;
			text-align: center;
		}
		thead{
			background-color: #f2f3f3 !important;
			font-size: 0.8em !important;
		}
		tbody{
			background-color: #ffffff;
			font-size: 0.8em !important;
		}
		h5{
			font-size: 0.9em !important;
			font-weight: bold;
		}
		table{
			margin-top: 10px;
			border: #e0e3e5;
			border-style: solid;
			border-width: thin;
		}
		.form{
			border: #e0e3e5;
			border-style: solid;
			border-width: thin;
			border-radius: 4px;
			background-color: #f8f8f8;
			padding: 7px;
		}
	</style>

	<apex:form styleClass="form">
	
		<apex:outputPanel id="pbAvailableContacts">
		
			<h5>{!$Label.SMC_MCSeccion1}</h5>
			
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
					
							<th><apex:outputText value="{!$Label.SMC_MCColumna1}"/></th>
						
						<apex:repeat value="{!FieldSet}" var="field">
				
							<th><apex:outputText value="{!field.Label}"/></th>
						
						</apex:repeat>
						
					</tr>
				</thead>
			
				<tbody>
					<apex:repeat value="{!lstAvailableContacts}" var="wpSMCContact">
						
					<tr>
						
							<td><apex:inputCheckbox value="{!wpSMCContact.blnContactSelected}"/></td>
					
						<apex:repeat value="{!FieldSet}" var="field">
						
							<td><apex:outputField value="{!wpSMCContact.objContact[ field.FieldPath ]}"/></td>
						
						</apex:repeat>
						
					</tr>
						
					</apex:repeat>
				</tbody>
			
			</table>
			
			<div class="center">
				<apex:commandButton styleClass="btn" value="{!$Label.SMC_MCBoton1}" action="{!addContacts}" reRender="pbCurrentContacts, pbAvailableContacts"/>
			</div>
			
		</apex:outputPanel>
		
		<apex:outputPanel id="pbCurrentContacts">
		
			<h5 style="{!strShowCurrentContacts}"><b>{!$Label.SMC_MCSeccion2}</b></h5>
			
			<div style="{!strRenderMsgError}" class="alert alert-danger" role="alert">
				{!strMsgError}
			</div>
			
			<table class="table table-responsive table-hover" style="{!strShowCurrentContacts}">
				<thead>
					<tr>
					
							<th></th>
					
						<apex:repeat value="{!FieldSet}" var="field">
				
							<th><apex:outputText value="{!field.Label}"/></th>
						
						</apex:repeat>
						
					</tr>
				</thead>
			
				<tbody>
					<apex:repeat value="{!lstCurrentSMCContacts}" var="wpSMCContact">
						
					<tr>
							<td><apex:commandLink styleClass="action" style="color:#015ba7;" action="{!deleteSMCContact}" value="{!$Label.SMC_MCAccion1}" reRender="pbCurrentContacts">
								<apex:param name="idSMCContact" value="{!wpSMCContact.objSMCContact.Id}"/>
								<apex:param name="idContact" value="{!wpSMCContact.objSMCContact.SMC_Contacto__c}"/>
							</apex:commandLink></td>
						
						<apex:repeat value="{!FieldSet}" var="field">
						
							<td><apex:outputField value="{!wpSMCContact.objContact[ field.FieldPath ]}"/></td>
						
						</apex:repeat>
						
					</tr>
						
					</apex:repeat>
				</tbody>
			
			</table>
			
		</apex:outputPanel>
		
	</apex:form>
	
	<script>
		$j = jQuery.noConflict();
		
		setInterval( 
			function setTarget(){
				$j( 'a' ).attr( "target", "_blank" );
			},
			10
		);
	</script>
	
</apex:page>